*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

header{
    padding: 20px 0;
}
.logo{
    width:50%;
}

.menu{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}


#titulo{
    font-family: sans-serif;
    color: rgb(20, 20, 172);
    margin-left: 7%;
}

#sutitulo{
    font-family: sans-serif;
    color: rgb(20, 20, 172);
    margin-left: 10%;
}

fieldset {
    border:0;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 1em;
    color:rgb(74, 74, 250);
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color:rgb(74, 74, 250);
    display: block
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding:0.2em;
    border:1px solid rgb(74, 74, 250);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #e0e0f8
}

.botão{
    font-size: 1.2em;
    background:rgb(74, 74, 250);
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}